@font-face {
    font-family: 'airstrikeacad';
    src: url('./fonts/airstrikeacad.ttf') format('truetype');
}

@font-face {
    font-family: 'Magical Night';
    src: url('./fonts/Magical-Night.ttf') format('truetype');
}