@font-face {
    font-family: 'airstrikeacad';
    src: url('./fonts/airstrikeacad.ttf') format('truetype');
}

@font-face {
    font-family: 'Bauhaus';
    src: url('./fonts/Bauhaus.ttf') format('truetype');
}

@font-face {
    font-family: 'The Last Shuriken';
    src: url('./fonts/The-Last-Shuriken.ttf') format('truetype');
}

@font-face {
    font-family: 'Viking';
    src: url('./fonts/Viking.ttf') format('truetype');
}