@font-face {
    font-family: 'airstrikeacad';
    src: url('./fonts/airstrikeacad.ttf') format('truetype');
}

@font-face {
    font-family: 'Bauhaus';
    src: url('./fonts/Bauhaus.ttf') format('truetype');
}

@font-face {
    font-family: 'Super Positive';
    src: url('./fonts/Super-Positive-Personal-Use.ttf') format('truetype');
}

@font-face {
    font-family: 'Viking';
    src: url('./fonts/Viking.ttf') format('truetype');
}